h1{
    color:orange;
    font-family: cursive;
}
h2{
    color:orange;
}
a{
    font-weight: bolder;
    font-family: monospace;
    color:chocolate;
}
button{
    color:orange;
    border:10px solid orange;
    border-radius:10px 100px 120px;
    
}
body{
    width:660px;
    
}
footer{
    color:aqua;
}
#about{
    color: aqua;
}
#about2{
    border: solid;
    border-radius: 20px;;
}
table{
    border: 1px solid brown;
}
.form{
    border: 2px solid orange;
    margin: 1px;
}
body{
    background-image: url('/images/360_F_446373646_uYHx1cGEL6zrndv4xlcElHtHdfa0BF0j.webp');
    background-size: cover;
    background-repeat: no-repeat;
    
}
